<div class="header">
  <div class="logo">
    <img src="../public/images/logo-factuweb.png" alt="Logo FactuWeb" class="toolbar-logo" />
    <span class="title">FactuWeb</span>
  </div>
  <div class="menu">
    <h3 class="fas fa-bars" (click)="returnDashboard()">Menú</h3>
  </div>
</div>

<div class="container">
  <h1>Registrar Cartera de Facturas descontadas a Tasa Efectiva</h1>
  <h2>Datos</h2>

  <!-- Formulario de Registro -->
  <form [formGroup]="facturaForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div>
        <label for="fechaEmision">Fecha de Emisión</label>
        <input type="date" id="fechaEmision" formControlName="fechaEmision" />
      </div>
      <div>
        <label for="fechaPago">Fecha de pago</label>
        <input type="date" id="fechaPago" formControlName="fechaPago" />
      </div>
      <div>
        <label for="totalFacturado">Total Facturado</label>
        <input type="number" id="totalFacturado" formControlName="totalFacturado" />
        <span class="unit">u.m.</span>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label for="retencion">Retención</label>
        <input type="number" id="retencion" formControlName="retencion" />
        <span class="unit">u.m.</span>
      </div>
      <div>
        <label for="igv">IGV</label>
        <input type="number" id="igv" formControlName="igv" />
      </div>
    </div>

    <!-- Botón para enviar el formulario -->
    <button class="button" (click)="goToDescount()">Continuar</button>
  </form>
</div>
