.section-container {
    padding: 4rem 0 2rem 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

mat-toolbar {
    background-color: #248942;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
}

.toolbar-logo {
    height: 40px;
    width: auto;
}

.spacer {
    flex: 1 1 auto;
}

.toolbar-title {
    font-size: 20px;
    font-weight: 500;
    color: white;
    flex-grow: 1;
    margin-left: 10px;
}

.logout-btn{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.section-heading {
    font-weight: bold;
    font-size: 1.875rem;
    margin-bottom: 2rem;
}

.text-primary {
    color: #248942;
}

.text-accent {
    color: #2563EB;
}

.description {
    color: #6B7280;
    margin-bottom: 1.75rem;
}

.card-grid {
    display: grid;
    gap: 1.5rem;
}

.card-item {
    padding: 1.25rem;
    text-align: center;
}

.card-icon-container {
    padding: 0.75rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0.75rem;
}

.card-title {
    color: #248942;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.card-content {
    color: #6B7280;
    line-height: 1.5;
}

@media (min-width: 768px) {
    .section-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .section-container {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
}