<div class="section-container">
    <div class="section-heading">
        <span class="text-primary">Bienvenido, {{userData.name}} </span>
    </div>
    <div class="description">
        Menú de opciones
    </div>
    <div class="card-grid">
        <div class="card-item" *ngFor="let card of cards">
            <span class="card-icon-container" (click)="redirectTo(card.url)">
                <img src="{{card.img}}" alt="Imagen ">
            </span>
            <div class="card-title">{{card.title}}</div>
            <span class="card-content">{{card.content}}</span>
        </div>
    </div>
</div>
